@page
@model iPortfolio.Pages.myadmin.AddContactModel
@{
}

<div class="container">
    <form method="post">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <h1>Add Contact</h1>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Name</label>
                <input class="form-control" asp-for="contact.Name">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Email</label>
                <input class="form-control" asp-for="contact.Email">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Subject</label>
                <input class="form-control" asp-for="contact.Subject">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Message</label>
                <input class="form-control" asp-for="contact.Message">
            </div>
        </div>
      
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Add Contact" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>