@page
@model iPortfolio.Pages.myadmin.AddFactsModel
@{
}

<div class="container">
    <form method="post">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <h1>Add Facts</h1>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Clients</label>
                <input class="form-control" asp-for="facts.Clients">
                <span asp-validation-for="facts.Clients" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Projects</label>
                <input class="form-control" asp-for="facts.Projects">
                <span asp-validation-for="facts.Projects" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Hours</label>
                <input class="form-control" asp-for="facts.Hours">
                <span asp-validation-for="facts.Hours" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Hard Workers</label>
                <input class="form-control" asp-for="facts.HardWorkers">
                <span asp-validation-for="facts.HardWorkers" class="text-danger"></span>
            </div>
        </div>
       
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Add Facts" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
