@page
@model iPortfolio.Pages.myadmin.AddProfileModel
@{
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <h1>Add Profile</h1>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Name</label>
                <input class="form-control" asp-for="profile.Name">
                <span asp-validation-for="profile.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Birthday</label>
                <input class="form-control" asp-for="profile.Birthday">
                <span asp-validation-for="profile.Birthday" class="text-danger"></span>


            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Age</label>
                <input class="form-control" asp-for="profile.Age">
                <span asp-validation-for="profile.Age" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Website</label>
                <input class="form-control" asp-for="profile.Website">
                <span asp-validation-for="profile.Website" class="text-danger"></span>

            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Degree</label>
                <input class="form-control" asp-for="profile.Degree">
                <span asp-validation-for="profile.Degree" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Phone</label>
                <input class="form-control" asp-for="profile.Phone">
                <span asp-validation-for="profile.Phone" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">EMail</label>
                <input class="form-control" asp-for="profile.EMail">
                <span asp-validation-for="profile.EMail" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">City</label>
                <input class="form-control" asp-for="profile.City">
                <span asp-validation-for="profile.City" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">FreelanceStatus</label>
                <input class="form-control" asp-for="profile.FreelanceStatus">
                <span asp-validation-for="profile.FreelanceStatus" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Description One</label>
                <input class="form-control" asp-for="profile.DescOne">
                <span asp-validation-for="profile.DescOne" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Description Two</label>
                <input class="form-control" asp-for="profile.DescTwo">
                <span asp-validation-for="profile.DescTwo" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Image :</label>
                <input class="form-control" asp-for="profile.Photo">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Add Profile" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>