@page
@model iPortfolio.Pages.myadmin.AddSocialNetworksModel
@{
}

<div class="container">
    <form method="post">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <h1>Add SocialNetworks</h1>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Facebook</label>
                <input class="form-control" asp-for="socialNetworks.Facebook">
                <span asp-validation-for="socialNetworks.Facebook" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Twitter</label>
                <input class="form-control" asp-for="socialNetworks.Twitter">
                <span asp-validation-for="socialNetworks.Twitter" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">LinkedIn</label>
                <input class="form-control" asp-for="socialNetworks.LinkedIn">
                <span asp-validation-for="socialNetworks.LinkedIn" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Instagram</label>
                <input class="form-control" asp-for="socialNetworks.Instagram">
                <span asp-validation-for="socialNetworks.Instagram" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Skype</label>
                <input class="form-control" asp-for="socialNetworks.Skype">
                <span asp-validation-for="socialNetworks.Skype" class="text-danger"></span>

            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Add SocialNetworks" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>