@page
@model iPortfolio.Pages.myadmin.UpdateFactsModel
@{
}

<div class="container">
    <form method="post">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <h1>Update Facts</h1>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Clients</label>
                <input class="form-control" asp-for="facts.Clients">
                <input class="form-control" hidden asp-for="facts.Id">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Projects</label>
                <input class="form-control" asp-for="facts.Projects">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Hours</label>
                <input class="form-control" asp-for="facts.Hours">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Hard Workers</label>
                <input class="form-control" asp-for="facts.HardWorkers">
            </div>
        </div>

        <div class="row  justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Update Facts" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
